# # TITLE
**Bold**
*italic*

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

# who## show all the variable i have in my notebookem

# Lists
.Dictionaries
string
tuples
set

In [18]:
k =list()
k=[1,6,7,5,2,3,4,5,6,5]
len(k)

10

In [12]:
k[-1]

7

In [13]:
k[:2]

[1, 6]

In [14]:
k[0:4]

[1, 6, 7]

# how to add new element into the list

In [19]:
list.append?
k=[1,6,7,5,2,3,4,5,6,5]

In [20]:
k.append(10)

In [29]:
k

[1, 6, 3, 7, 5, 2, 3, 4, 5, 6, 7, 5, 10, 7]

k.insert?

In [23]:
k.insert(2,3)

In [28]:
k.insert(13,7)

##how to remove element from list

In [33]:
k.pop?

In [34]:
k.pop()

7

In [35]:
k

[1, 6, 3, 7, 5, 2, 3, 4, 5, 6, 7, 5, 10]

In [36]:
k.pop(2)

3

In [37]:
k.remove(10)

In [38]:
k

[1, 6, 7, 5, 2, 3, 4, 5, 6, 7, 5]

In [39]:
k.extend(['rth','you'])

###

In [43]:
k.index(3)

5

In [48]:
k[3:].index(3)

2

In [54]:
k.index(6,4)

8

In [55]:
k[0:5]

[1, 6, 7, 5, 2]

STRING

In [56]:
greetings =('hello')
greetings

'hello'

In [59]:
[greetings]

['hello']

In [60]:
greetings.count('e')

1

In [62]:
greetings[0:3]

'hel'

# how to use split ?

In [63]:
greetings.split()

['hello']

In [64]:
day="saturdy"

In [65]:
day.capitalize()

'Saturdy'

In [70]:
g =day.upper()
g

'SATURDY'

In [74]:
h=g.lower().replace('s','T')
h

'Taturdy'

In [76]:
result = 15*9
result

135

In [79]:
result_str = f"The operation" " " +  str(result) + " " "thanks"
result_str

'The operation 135 thanks'

In [81]:
result_str = f"The operation   {result:2f} thanks"
result_str

'The operation   135.000000 thanks'

# TUPLES
we can store our value in tuples

In [83]:
k

[1, 6, 7, 5, 2, 3, 4, 5, 6, 7, 5, 'rth', 'you']

In [85]:
k[2] =67
k

[1, 6, 67, 5, 2, 3, 4, 5, 6, 7, 5, 'rth', 'you']

In [87]:
k[:3]

[1, 6, 67]

In [88]:
k[6:]

[4, 5, 6, 7, 5, 'rth', 'you']

In [94]:
k =k[:3] + k[6:]
k

[1, 6, 67]

# DICTONARY

In [96]:
d = dict()
d

{}

# A list will can access  with index and dict we can access it by using the keys and the values
keys are uniques

In [100]:
d ={'name':'asia',
   'city':'Paris',
   'school':'DSTI',}
d

{'name': 'asia', 'city': 'Paris', 'school': 'DSTI'}

In [101]:
d['name']

'asia'

In [102]:
d.keys()

dict_keys(['name', 'city', 'school'])

In [103]:
d.values()

dict_values(['asia', 'Paris', 'DSTI'])

In [104]:
d.items()

dict_items([('name', 'asia'), ('city', 'Paris'), ('school', 'DSTI')])

In [105]:
d['yes']='python'

In [106]:
d

{'name': 'asia', 'city': 'Paris', 'school': 'DSTI', 'yes': 'python'}

In [108]:
d.update({'ni':'yoi'})
d

{'name': 'asia',
 'city': 'Paris',
 'school': 'DSTI',
 'yes': 'python',
 'ni': 'yoi'}

# SETS

In [109]:
s = set()
s

set()

In [111]:
s ={1,2,4}
type(s)

set

In [112]:


duplicate_element = [2,3,4,2,4,5,5,3,3,5,6]
duplicate_element.count(3)

3

In [118]:
set_uni =set(duplicate_element)
set_uni

{2, 3, 4, 5, 6}

In [119]:
list(set(duplicate_element))

[2, 3, 4, 5, 6]

In [120]:
s

{1, 2, 4}

In [121]:
set_uni.intersection(s)

{2, 4}

In [122]:
set_uni.union(s)

{1, 2, 3, 4, 5, 6}

In [124]:
s.update({23,12,56})

In [125]:
s

{1, 2, 4, 12, 23, 56}

In [128]:
s.add(89)
s

{1, 2, 4, 12, 23, 56, 89}

In [129]:
s.intersection({200})

set()

# FOR LOOP

In [134]:
l =list(range(50))
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [135]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [136]:
for i in range (50):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [138]:
t =['fidt',2,3,5,'one',56]
yes =[]
print(yes)
for i in t:
    yes.append(str(type(i)))
    print(yes)

[]
["<class 'str'>"]
["<class 'str'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'int'>"]

In [143]:
yes =[]
print(yes)
for i in range(len(t)):
    print(f"The values of i {i}")
    print(f"theis is the valuet[i] {t[i]}")      
    yes.append(str(type(i)))
    print(f"this is state of the list yes{i} {yes}")
    print(yes)

[]
The values of i 0
theis is the valuet[i] fidt
this is state of the list yes0 ["<class 'int'>"]
["<class 'int'>"]
The values of i 1
theis is the valuet[i] 2
this is state of the list yes1 ["<class 'int'>", "<class 'int'>"]
["<class 'int'>", "<class 'int'>"]
The values of i 2
theis is the valuet[i] 3
this is state of the list yes2 ["<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'int'>", "<class 'int'>", "<class 'int'>"]
The values of i 3
theis is the valuet[i] 5
this is state of the list yes3 ["<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
The values of i 4
theis is the valuet[i] one
this is state of the list yes4 ["<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
The values of i 5
theis is the valuet[i] 56
this is state of the list yes5 ["<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]

In [144]:
i

5

In [148]:
t =['w','g','r']
new_l = []
for i in range(len(t)):
    new_l.append(t[i].upper())

In [149]:
new_l

['W', 'G', 'R']

In [152]:
dict_upper ={}
for i in t:
    dict_upper[i]=i.upper()

In [153]:
dict_upper

{'w': 'W', 'g': 'G', 'r': 'R'}

# IF STATEMENT

In [154]:
boolean =True
type(boolean)

bool

In [157]:
isinstance?

In [ ]:
for i in l:
    if isintance(e,int)
    p

In [181]:
t =['firts',9,3,4,[5,6],'one']
T =[]
for i in t:
    if isinstance(i,str):
        T.append(i.upper())
    if isinstance(i,int):
        T.append(0)
    if isinstance(i,list):
        i.append("last element")
        T.append(i)
print(T)

['FIRTS', 0, 0, 0, [5, 6, 'last element'], 'ONE']

In [168]:
a = [1,2]
b=a

In [169]:
b

[1, 2]

In [171]:
b[1]=3

In [172]:
b

[1, 3]

In [173]:
a

[1, 3]

In [182]:
a = [1,2,3,4,5'one','two',[1,3],3]
M = []
for i in a:
    if isinstance(i,str):
        M.append(i)
    if isinstance(i,int):
        M.append(0)
        
print(M)

SyntaxError: invalid syntax (<ipython-input-182-90fd90003579>, line 1)